<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <%- include('../partials/head'); -%>
    <link rel="stylesheet" href="/css/jsoneditor.css">
</head>
<body class="container">

<header>
    <%- include('../partials/header'); -%>
</header>

<main>
    <div class='container'>
        <h4>Edit configuration</h4>
        <h5>Live status</h5>
        <div id='live-status-json-viewer' class="json-editor"></div>
        <a class='btn btn-success' id="update-config">Update live status</a>
        <a class='btn btn-success' id="update-time">Update start time (now)</a>
        <a class='btn btn-success' id="reset-race">Reset race (start from 0)</a>

        <script> 
                var config_data;

                function update_var(data){
                    var stringValue = data['is_live'];
                    data['is_live']=(stringValue || stringValue === "true" || stringValue ===1);
                    
                    console.log("Updated vars")
                    console.log(data);

                    config_data = data;
                }

                var opts = {
                    change: update_var,
                    propertyclick: function(path) { /* called when a property is clicked with the JS path to that property */ }
                };
                function init_json_config(){
                    // create the editor
                    //Getting live status
                    $.get('/race_status', function(data){
                        console.log("Setting data");
                        config_data=data;
                        console.log(data);
                        var editor = $('#live-status-json-viewer').jsonEditor(config_data, opts);
                    });                             
                };
                
                $('#update-config').click(function(){
                        console.log("Clicked on config update");
                        console.log("Updating live status to "+JSON.stringify(config_data));
                        $.post('/update_status', config_data, function(data){
                            editor = $('#live-status-json-viewer').jsonEditor(config_data, opts);
                            console.log("Updated successfully!");
                        });
                });    

                $('#update-time').click(function(){
                        console.log("Clicked on config update");
                        console.log("Updating live status to "+JSON.stringify(config_data));
                        $.get('/set_start_time_now', function(data){
                            editor = $('#live-status-json-viewer').jsonEditor(config_data, opts);
                            console.log("Updated successfully!");
                        });
                });

                $('#reset-race').click(function(){
                        console.log("Clicked on reset race");
                        $.get('/reset_race', function(data){
                            console.log(data['message']);
                        });
                });

                $(document).ready(function(){
                    init_json_config();
                });
            </script> 
        </div>
    </div>		
</main>

<footer>
    <%- include('../partials/footer'); -%>
</footer>
<script src="/js/jsoneditor.min.js"></script>
</body>
</html>