<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <%- include('../partials/head'); -%>
    <link rel="stylesheet" href="/css/jsoneditor.css">
</head>
<body class="container">

<header>
    <%- include('../partials/header'); -%>
</header>

<main>
    <div class='container'>
        <h4>Edit configuration</h4>
        <h5>Live status</h5>
        <div id='live-status-json-viewer' class="json-editor"></div>
        <a class='btn btn-success' id="update-config">Update live status</a>
        <script> 
                var config_data;

                function update_var(data){
                    config_data = data;
                }

                var opts = {
                    change: update_var,
                    propertyclick: function(path) { /* called when a property is clicked with the JS path to that property */ }
                };
                function init_json_config(){
                    // create the editor
                    //Getting live status
                    $.get('/race_status', function(data){
                        console.log("Setting data");
                        config_data=data;
                        console.log(data);
                        var editor = $('#live-status-json-viewer').jsonEditor(config_data, opts);
                    });                             
                };
                
                $('#update-config').click(function(){
                        console.log("Clicked on config update");
                        var live_status = config_data['is_live'];
                        console.log("Updating live status to "+JSON.stringify(live_status));
                        $.get('/update_status/'+JSON.stringify(live_status), function(data){
                            editor = $('#live-status-json-viewer').jsonEditor(config_data, opts);
                            console.log("Updated successfully!");
                        });
                });

                $(document).ready(function(){
                    init_json_config();
                });
            </script> 
        </div>
    </div>		
</main>

<footer>
    <%- include('../partials/footer'); -%>
</footer>
<script src="/js/jsoneditor.min.js"></script>
</body>
</html>