<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); -%>
</head>
<body class="container">
    <header>
        <%- include('../partials/header'); -%>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/css/ol.css" type="text/css">
        <style>
          .map {
            margin-top: 10px;
            height: 576px;
            width: 100%;
          }
        </style>
    </header>
    <main>
        <div class='container'>
            <div class='row'>
                <div class='col col-md-8'>
                    <div id="map" class="map"></div>
                    <div id="popup" class="popup"></div>
                </div>
                <div class='col col-md-4'>
                    <div class='race-status-bar'></div>
                </div>
            </div>
        </div>		
    </main>
    <br>
    <footer>
        <%- include('../partials/footer'); -%>
    </footer>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/build/ol.js"></script>
    <script src='./js/race-ui.js'></script>
    <script src='./js/race-center.js'></script>

</body>
</html>